.board_wrapper {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar_wrapper {
  width: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  background: #36af60;
}

.content_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  left: 300px;

  .todo {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    flex-direction: row;

    border-bottom: 1px solid rgb(228, 228, 228);

    label {
      margin-left: 30px;
    }
    input[type=checkbox] {
      margin-left: 20px;
    }
  }

  .add_btn {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    margin-left: auto;
    margin-right: 20px;

    &:hover {
      background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
      background-color: #6c7c7c;
    }
    
    &:active {
      position: relative;
      top: 1px;
    }

    &:disabled {
      opacity: .3;
      cursor: not-allowed;
    }
  }
}
